<div>
  <div class="submit-form">
<!--    <div *ngIf="!submitted">-->
    <div>
      <div class="form-group">
        <label>العنوان</label>
        <input
          type="text"
          class="form-control"
          required
          name="title"
          [(ngModel)]="offer.title"
        />
      </div>

      <div class="form-group">
        <label>الوصف</label>
        <input
          type="text"
          class="form-control"
          required
          name="title"
          [(ngModel)]="offer.description"
        />
      </div>

      <div class="form-group">
        <label for="en">السعر</label>
        <input
          type="text"
          class="form-control"
          id="en"
          required
          name="title"
          [(ngModel)]="offer.price"
        />
      </div>

      <div class="form-group">
        <label for="cars">الغلاف</label><br>
        <select name="cars" id="cars" [(ngModel)]="offer.sliderId">
          <option  *ngFor="let slider of sliders" value="{{slider.id}}">{{slider.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cars">المكان</label><br>
        <select name="cars" [(ngModel)]="offer.placeId">
          <option  *ngFor="let place of places" value="{{place.id}}">{{place.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>الصورة</label>
        <input
          type="file"
          class="form-control"
          required
          name="description"
          (change)="selectImage($event)"
        />
      </div>
    </div>
      <button class="btn btn-success" (click)="addOffer(offer)">اضافة</button>
    </div>
  </div>
