<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- First level menu -->
    <li class="sidebar-item" >
      <div class="nav-small-cap" ></div>
      <a class="sidebar-link waves-effect waves-dark">
        <i class="bi bi-eye"></i>
        <a routerLink="/showing" class="hide-menu">عرض</a>
      </a>
    </li>
    <li class="sidebar-item" >
      <div class="nav-small-cap" ></div>
      <a class="sidebar-link waves-effect waves-dark">
        <i class="bi bi-plus-circle-fill"></i>
        <a routerLink="/adding" class="hide-menu">اضافة</a>
      </a>
    </li>
  </ul>

</nav>
