<div>
  <div class="submit-form">
    <!--    <div *ngIf="!submitted">-->
    <div>
      <div class="form-group">
        <label for="en">العنوان</label>
        <input
          type="text"
          class="form-control"
          id="en"

          required
          name="title"
          [(ngModel)]="slider.title"
        />
      </div>

      <div class="form-group">
        <label>المكان</label><br>
        <select name="cars" [(ngModel)]="slider.placeId">
          <option  *ngFor="let place of places" value="{{place.id}}">{{place.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label *ngIf="slider.image">الصورة</label><br>
        <img  *ngIf="slider.image" class="cus-image" src="{{slider.image}}">
        <br>
        <label>اختر صورة</label>
        <input
          placeholder="ييييي"
          type="file"
          class="form-control"
          required
          name="description"
          (change)="selectImage($event)"
        />
      </div>

    </div>
    </div>
    <button class="btn btn-success" (click)="addSlider(slider)">تعديل</button>
  </div>

