<div class="row">
  <div class="col-md-6 col-lg-3 cus-bor">
    <div class="card cust-card">
      <img src="assets/images/bg/cat.jpg" alt="blogs" class="card-img-top cust-img">
      <div class="card-body cus-al">
        <!--        <h4 class="card-title">{{blogcard.title}}</h4>-->
        <!--        <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>-->
        <a routerLink="/category" type="button" class="btn btn-primary cus-but">عرض جميع الاصناف</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 cus-bor">
    <div class="card cust-card">
      <img src="assets/images/bg/slider.png" alt="blogs" class="card-img-top cust-img">
      <div class="card-body cus-al">
        <!--        <h4 class="card-title">{{blogcard.title}}</h4>-->
        <!--        <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>-->
        <a routerLink="/slider" type="button" class="btn btn-primary cus-but">عرض جميع الاغلفة</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 cus-bor">
    <div class="card cust-card">
      <img src="assets/images/bg/place.png" alt="blogs" class="card-img-top cust-img">
      <div class="card-body cus-al">
        <!--        <h4 class="card-title">{{blogcard.title}}</h4>-->
        <!--        <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>-->
        <a routerLink="/place" type="button" class="btn btn-primary cus-but">عرض جميع الاماكن</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3 cus-bor">
    <div class="card cust-card">
      <img src="assets/images/bg/offer.png" alt="blogs" class="card-img-top cust-img">
      <div class="card-body cus-al">
        <!--        <h4 class="card-title">{{blogcard.title}}</h4>-->
        <!--        <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>-->
        <a routerLink="/offer" type="button" class="btn btn-primary cus-but">عرض جميع العروض</a>
      </div>
    </div>
  </div>
</div>
